# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zwkmjaiiasdggvbxclhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Textbelt
TEXTBELT_API_KEY=textbelt

# Anthropic
ANTHROPIC_API_KEY=
